.button {
    font-weight: 500;
    border-width: 0px;
    border-color: black;
    border-style: solid;
    background-color: #00c4cc;
    color: black;
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 4px 4px rgb(1, 88, 88);
    border-radius: 999px;
    transition: 0.2s;
}
.button:hover {
    color: white;
    fill: white;
    background-color: rgb(0, 0, 0);
    transform: translate(4px, 4px);
    box-shadow: 0px 0px black;
}
