.tabs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-column-start: 0;
    grid-column-end: span 4;
    height: 100%;
    width: 100%;
    align-items: flex-end;
}
.mobileTabs {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-column-start: 0;
    grid-column-end: span 4;
    height: 35%;
    width: 100%;
    align-items: flex-end;
}
.mobileTabs .tab {
    order: 99;
    width: 100%;
    display: block;
    padding: 1rem;
    background: #fff;
    overflow-y: scroll;
    height: 14rem;
    scrollbar-width: none;
}
.mobileTabs input[type="radio"] {
    display: none;
}
.fullMobileTabs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-column-start: 0;
    grid-column-end: span 4;
    height: 100vh;
    width: 100%;
    align-items: flex-end;
}
.fullMobileTabs .tab {
    order: 99;
    width: 100%;
    display: block;
    padding: 1rem;
    background: #fff;
    overflow-y: scroll;
    height: 100%;
    scrollbar-width: none;
}
.fullMobileTabs input[type="radio"] {
    display: none;
}
.slideIn {
    animation: slideInFromBottomTabs 1.5s;
}

.uncheckedLabel {
    order: 1;
    text-align: center;
    height: 2rem;
    color: white;
    display: block;
    padding: 0.5vw;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #a6a6a6;
    opacity: 0.85;
    font-weight: bold;
    font-size: smaller;
    transition: background ease 0.2s;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    z-index: 100;
}
.checkedLabel {
    order: 1;
    height: 2rem;
    display: block;
    padding: 0.5vw;
    margin-right: 0.2rem;
    cursor: pointer;
    font-size: smaller;
    font-weight: bold;
    transition: background ease 0.2s;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: #fff;
    color: black;
    z-index: 100;
}
.arrowLabel {
    order: 1;
    margin-left: 1vw;
    margin-right: 1vw;
    transform: translateY(-32px);
    width: 1vw;
    height: 3rem;
    color: black;
    display: block;
    padding: 1rem;
    text-align: center;

    cursor: pointer;
    opacity: 0.85;
    font-weight: bold;
    border-radius: 100%;
    transition: background ease 0.2s;
}

.arrowLabelSmallDevice {
    width: 3rem;
    height: 3rem;
    color: black;
    display: block;
    padding: 1rem;
    cursor: pointer;
    opacity: 0.85;
    font-weight: bold;
    border-radius: 100%;
    transition: background ease 0.2s;
}

.arrowSmallDevice input[type="radio"] {
    display: none;
}
.tabs .tab {
    order: 99;
    width: 100%;
    display: block;
    padding: 1rem;
    background: #fff;
    overflow-y: scroll;
    height: 100vh;
}
.tab::-webkit-scrollbar {
    color: black;
}
.tab {
    display: block;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    height: 100%;
}
.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}
.openTabButton {
    position: absolute;
    background: #fff;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 5rem;
    width: 1.5rem;
    z-index: 15;
    font-weight: 500;
    top: 55%;
    left: 33%;
}
.fullTab {
    position: absolute;
    display: block;
    background-color: #fff;
    height: 42rem;
    width: 90rem;
    left: 0;
    bottom: 0;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
    z-index: 20;
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottomTabs {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes tabStretch {
    0% {
        width: auto;
    }
    100% {
        width: 33%;
    }
}
@keyframes cardStretch {
    0% {
        width: auto;
    }
    100% {
        width: 100%;
    }
}
