@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    font-family: "Montserrat", sans-serif;
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
        "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --primary-glow: conic-gradient(
        from 180deg at 50% 50%,
        #16abff33 0deg,
        #0885ff33 55deg,
        #54d6ff33 120deg,
        #0071ff33 160deg,
        transparent 360deg
    );
    --secondary-glow: radial-gradient(
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
    );

    --tile-start-rgb: 239, 245, 249;
    --tile-end-rgb: 228, 232, 233;
    --tile-border: conic-gradient(
        #00000080,
        #00000040,
        #00000030,
        #00000020,
        #00000010,
        #00000010,
        #00000080
    );

    --tailwind-gray-500: rgb(107 114 128);
    --nimbus-light-red: #e57373;

    --callout-rgb: 238, 240, 241;
    --callout-border-rgb: 172, 175, 176;
    --card-rgb: 180, 185, 188;
    --card-border-rgb: 131, 134, 135;

    --svg-searchIcon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='rgb(156 163 175)' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z' /%3E%3C/svg%3E");
    --svg-searchIcon-red: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='rgb(229 115 115)' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z' /%3E%3C/svg%3E");
    --svg-bahtIcon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(156 163 175)' viewBox='0 0 700 700' stroke-width='1.5' stroke='rgb(156 163 175)' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m411.41 280c20.09-15.734 31.855-39.812 31.918-65.332-0.046875-22.266-8.9141-43.602-24.656-59.344-15.742-15.742-37.078-24.609-59.344-24.656h-9.332v-37.336c0-6.668-3.5586-12.828-9.332-16.164-5.7773-3.3359-12.891-3.3359-18.668 0-5.7773 3.3359-9.332 9.4961-9.332 16.164v37.336h-37.336c-4.9492 0-9.6992 1.9648-13.199 5.4648s-5.4648 8.25-5.4648 13.199v261.34c0 4.9492 1.9648 9.6992 5.4648 13.199s8.25 5.4648 13.199 5.4648h37.332v37.332l0.003907 0.003907c0 6.668 3.5547 12.828 9.332 16.164 5.7773 3.3359 12.891 3.3359 18.668 0 5.7734-3.3359 9.332-9.4961 9.332-16.164v-37.336h9.332c22.266-0.046875 43.602-8.9141 59.344-24.656 15.742-15.742 24.609-37.078 24.656-59.344-0.0625-25.52-11.828-49.598-31.918-65.332zm-117.41-112h65.332c16.672 0 32.078 8.8945 40.414 23.332 8.3398 14.441 8.3398 32.23 0 46.668-8.3359 14.438-23.742 23.332-40.414 23.332h-65.332zm65.332 224h-65.332v-93.332h65.332c16.672 0 32.078 8.8945 40.414 23.332 8.3398 14.438 8.3398 32.227 0 46.668-8.3359 14.438-23.742 23.332-40.414 23.332z' /%3E%3C/svg%3E");
    --svg-bahtIcon-red: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(229 115 115)' viewBox='0 0 700 700' stroke-width='1.5' stroke='rgb(229 115 115)' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m411.41 280c20.09-15.734 31.855-39.812 31.918-65.332-0.046875-22.266-8.9141-43.602-24.656-59.344-15.742-15.742-37.078-24.609-59.344-24.656h-9.332v-37.336c0-6.668-3.5586-12.828-9.332-16.164-5.7773-3.3359-12.891-3.3359-18.668 0-5.7773 3.3359-9.332 9.4961-9.332 16.164v37.336h-37.336c-4.9492 0-9.6992 1.9648-13.199 5.4648s-5.4648 8.25-5.4648 13.199v261.34c0 4.9492 1.9648 9.6992 5.4648 13.199s8.25 5.4648 13.199 5.4648h37.332v37.332l0.003907 0.003907c0 6.668 3.5547 12.828 9.332 16.164 5.7773 3.3359 12.891 3.3359 18.668 0 5.7734-3.3359 9.332-9.4961 9.332-16.164v-37.336h9.332c22.266-0.046875 43.602-8.9141 59.344-24.656 15.742-15.742 24.609-37.078 24.656-59.344-0.0625-25.52-11.828-49.598-31.918-65.332zm-117.41-112h65.332c16.672 0 32.078 8.8945 40.414 23.332 8.3398 14.441 8.3398 32.23 0 46.668-8.3359 14.438-23.742 23.332-40.414 23.332h-65.332zm65.332 224h-65.332v-93.332h65.332c16.672 0 32.078 8.8945 40.414 23.332 8.3398 14.438 8.3398 32.227 0 46.668-8.3359 14.438-23.742 23.332-40.414 23.332z' /%3E%3C/svg%3E");
}

@layer utilities {
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;

        --primary-glow: radial-gradient(
            rgba(1, 65, 255, 0.4),
            rgba(1, 65, 255, 0)
        );
        --secondary-glow: linear-gradient(
            to bottom right,
            rgba(1, 65, 255, 0),
            rgba(1, 65, 255, 0),
            rgba(1, 65, 255, 0.3)
        );

        --tile-start-rgb: 2, 13, 46;
        --tile-end-rgb: 2, 5, 19;
        --tile-border: conic-gradient(
            #ffffff80,
            #ffffff40,
            #ffffff30,
            #ffffff20,
            #ffffff10,
            #ffffff10,
            #ffffff80
        );

        --callout-rgb: 20, 20, 20;
        --callout-border-rgb: 108, 108, 108;
        --card-rgb: 100, 100, 100;
        --card-border-rgb: 200, 200, 200;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflows-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.loc-input {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='rgb(156 163 175)' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: 14px center;
    padding-left: 49px;
}

.budget-input {
    background-image: var(--svg-bahtIcon);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 7px 62%;
    padding-left: 40px;
    transition: border 300ms, background-image 300ms;
    margin: 3px;
}

.budget-input:invalid {
    border: 2px solid #e57373;
    background-image: var(--svg-bahtIcon-red);
}

.budget-input-invalid {
    border: 2px solid #e57373;
    background-image: var(--svg-bahtIcon-red);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 7px 62%;
    padding-left: 40px;
    transition: border 300ms, background-image 300ms;
    margin: 3px;
}

.help-block {
    color: var(--tailwind-gray-500);
    display: none;
}

.help-block-invalid {
    margin-left: 3px;
    color: var(--nimbus-light-red);
    font-size: 12px;
}

/* For hiding number input arrows in Chrome, Safari, Edge, Opera */
.budget-input::-webkit-outer-spin-button,
.budget-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For hiding number input arrows in Firefox */
.budget-input[type="number"] {
    -moz-appearance: textfield;
}

/* button {
    color: black;
    font-weight: 500;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: white;
    padding: 0.5rem;
    box-shadow: 5px 5px black;
    border-radius: 0.5rem;
    transition: 0.2s;
}
button:hover {
    color: white;
    fill: white;
    background-color: rgb(0, 0, 0);
    transform: translate(5px, 5px);
    box-shadow: 0px 0px black;
} */

/* custom scrollbar: Chrome, Edge, Safari, Opera */

/* width */
::-webkit-scrollbar {
    height: 20px;
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    height: 10px;
    width: 10px;
    border: solid 15px transparent;
    box-shadow: inset 0 0 10px 10px transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    box-shadow: inset 0 0 10px 10px #f3f4f6;
    border: solid 8px transparent;
}

::-webkit-scrollbar-button {
    display: none;
}

body {
    max-width: 100vw;

    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
        overflow: scroll;
        scrollbar-width: none;
    }
    body::-webkit-scrollbar {
        display: none;
    }
}
.shadow {
    box-shadow: 2px 2px #888888;
}
